//make it so that the view, edit, and new screens pop up on the right
.row-fluid
  .span3.well
    div(ng-include="'/partials/developer-profile.html'")
  .span9.well
    p This is where the currently selected app goes.
